body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.body-class {
  background-color: #03a9f4;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 160px;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header {
  margin-top: 1.5em;
  margin-left: 6em;
}

.slogan {
  margin-top: 60px;
}

/*--Clase para dar estilo a redes sociales -----*/
.fa {
  padding: 15px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram, .fa-pinterest {
  background: #66bb6a;
  color: white;
}
/*------end class------*/

.galeria-viajes {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
